<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>score</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertRank</servlet-name>
    <servlet-class>score.InsertRank</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRank</servlet-name>
    <url-pattern>/InsertRank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>servlet.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>SingleScoreServlet</servlet-name>
    <servlet-class>servlet.SingleScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleScoreServlet</servlet-name>
    <url-pattern>/SingleScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoubleServlet</servlet-name>
    <servlet-class>servlet.DoubleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoubleServlet</servlet-name>
    <url-pattern>/DoubleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoubleScoreServlet</servlet-name>
    <servlet-class>servlet.DoubleScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoubleScoreServlet</servlet-name>
    <url-pattern>/DoubleScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoubleRankServlet</display-name>
    <servlet-name>DoubleRankServlet</servlet-name>
    <servlet-class>servlet.DoubleRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoubleRankServlet</servlet-name>
    <url-pattern>/DoubleRankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndividualScoreServlet</display-name>
    <servlet-name>IndividualScoreServlet</servlet-name>
    <servlet-class>servlet.IndividualScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndividualScoreServlet</servlet-name>
    <url-pattern>/IndividualScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRankServlet</display-name>
    <servlet-name>UpdateRankServlet</servlet-name>
    <servlet-class>servlet.UpdateRankServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRankServlet</servlet-name>
    <url-pattern>/UpdateRankServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AprioriServlet</display-name>
    <servlet-name>AprioriServlet</servlet-name>
    <servlet-class>servlet.AprioriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AprioriServlet</servlet-name>
    <url-pattern>/AprioriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportExcelServlet</display-name>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/ExportExcelServlet</url-pattern>
  </servlet-mapping>
</web-app>